<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Phone Book
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Phone Book</ion-title>
    </ion-toolbar>
  </ion-header>


    <ion-content padding>
      <ion-item>
        <ion-input type="text" [(ngModel)]="taskName" placeholder="Enter Name "></ion-input>
        <div class="item-note" item-end>
        <ion-input type="text" [(ngModel)]="taskNumber" placeholder="Enter Number "></ion-input>
        </div>
      </ion-item>
      <button ion-button (click)="addTask()"> Add</button>
      <div padding>
        <ion-list>
          <ion-item *ngFor="let todo of taskList; let i = index">
            {{todo.taskName}} / {{todo.taskNumber}}
            
	     <div class="item-note" item-end>
	    	<button ion-button clear (click)="updateTask(i)">
		   	<ion-icon name="create"></ion-icon>
		   </button>
		   <button ion-button clear (click)="deleteTask(i)">
		   	<ion-icon name="trash"></ion-icon>
		   </button>
    	</div>
          </ion-item>
        </ion-list>
      </div>
      
    </ion-content>
  
</ion-content>
